.courseContainer{
   width: 100%;
   height: 100%;
}

.courseContent{
   width: 70%;
   margin: 0% auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.course{
   margin-top: 20%;
}

.course .courseImage{
   display: flex;
   justify-content: center;
   align-items: center;
}
.course .courseImage img{
   width: 35%;
   height: auto;
   border: 2px solid #008374;
   border-radius: 50%;
   padding: 10px;
}

.courseHeader{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.courseHeader h1{
   font-family: sans-serif;
}

.courseDescription{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70%;
   margin: 15px auto;
}

.courseDescription p{
   text-align: center;
   font-family: sans-serif;
}

@media (max-width:700px){
   .courseContent{
      grid-template-columns: 1fr;
      width: 90%;
      margin: 60% auto;
   }
}