.firstHeaderContainer{
   width: 100%;
   height: 100%;
   background-color: #fff;
   position: sticky;
   top: 0;
   z-index: 900;
}

.firstHeaderContent{
   width: 80%;
   height: 12vh;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.logoContainer{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

.logoContainer .image{
   width: 50%;
   height: auto;
   margin-bottom: 5px;
}

@keyframes typewriter {
   from {
     width: 0;
   }
   to {
     width: 100%;
   }
 }
 
 @keyframes blinkCursor {
   from, to {
     border-color: transparent;
   }
   50% {
     border-color: black;
   }
 }

.logoContainer p{
   font-weight: 700;
   font-size: 1.25em;
   text-transform: uppercase;
   font-family: sans-serif;
}


.navigationContainer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-content: center;
   align-items: center;
}

.navigationContainer .navigation{
   display: flex;
   justify-content: center;
   align-items: center;
}

.navigationContainer .navigation .icon{
   font-size: 1.5em;
   margin-right: 5px;
}

.navigationContainer .navigation h1{
   font-size: 1.1em;
   color: #555151;
   font-family: sans-serif;
}

.profileContainer{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.profileContainer img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
}

.profileContainer .profile{
   display: flex;
   justify-content: center;
   align-items: center;
}

.profileContainer .profile h1{
   font-size: 1.2em;
   font-family: sans-serif;
   border: 1px solid #ccc;
}

@media (max-width:700px){
   .firstHeaderContent{
      grid-template-columns: 1fr 1fr;
      width: 95%;
   }

   .navigationContainer  {
      display: none;
   }

   .logoContainer .image{
      width: 90%;
      height: auto;
      margin-bottom: 5px;
   }

   .logoContainer p{
      font-weight: 700;
      font-size: 1em;
   }

   .profileContainer img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
   }
   
}