.showcaseContainer {
   width: 100%;
   height: 100%;
}

.showcaseImage {
   width: 100%; /* Full width */
   overflow: hidden; /* Prevent overflow from the image */
}

.image {
   width: 100%;
   height: 75vh;
   filter: brightness(60%);
   object-fit: cover;
}

.showcaseTextContainer {
   position: absolute;
   left: 0;
   top: 35%;
   width: 100%;
   color: white;
   width: 100%;
}

.showcaseText{
   width: 80%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.showcaseText p {
   font-size: 2rem;
   margin: 0;
   font-family: sans-serif;
   text-transform: lowercase;
}

.showcaseText h1 {
   font-size: 3rem;
   font-weight: bold;
   margin-top: 20px;
   font-family: sans-serif;
}

.showcaseButton{
   margin-top: 5%;
}

.showcaseButton button:nth-child(1){
   margin-right: 20px;
   width: 150px;
   height: 60px;
   color: #000;
   border-radius: 5px;
}

.showcaseButton button:nth-child(2){
   width: 150px;
   height: 60px;
   color: #000;
   border-radius: 5px;
}

@media (max-width:700px){
   .image{
      height: 88vh;
   }

   .showcaseTextContainer{
      top: 35%;
   }
   .showcaseText{
      width: 95%;
   }
   
   .showcaseText p {
      font-size: 1rem;
      margin-bottom: 10px;
   }
   .showcaseText h1 {
      font-size: 1.5rem;
      margin-top: 10px;
   }
   
}